@{
    ViewBag.Title = "addpost";
}


<center  style="margin-top: 100px; background-color: antiquewhite; padding: 40px;">
    <form method="post" action="/profile/addpost" enctype="multipart/form-data">

        <input id="photo" type="file" name="photo" />
        <br />
        <br />
        <input type="submit" value="Send" class="button btn-danger" style="padding:10px;" />

    </form>
</center>


