
@{
    ViewBag.Title = "search";
}





<form method="post" action="/profile/getpersons" style="margin-top: 100px; background-color: antiquewhite; padding: 40px;">
   
    <center>
        <input type="text" name="name" /><br /><br />
        <input type="submit" value="search" class="inputsubmit button btn-danger"  style="padding:10px;" />
    </center>

</form>
